<br>

<br>
<div class="card-deck">
<div class="card">
    <div class="card text-white bg-success mb-3" style="max-width: 28rem;">
  <div class="card-header">Orders Delivered</div>
  <div class="card-body">
    <h3 class="card-title">{{delivered}}</h3>
    
  </div>
</div>

</div>

    
   <div class="card text-white bg-warning mb-3" style="max-width: 28rem;">
  <div class="card-header">Orders Pending</div>
  <div class="card-body">
    <h3 class="card-title">{{pending}}</h3>
    
  </div>
</div>
 
 
  <div class="card">
    
   <div class="card text-white bg-info mb-3" style="max-width: 28rem;">
  <div class="card-header"> Total Orders </div>
  <div class="card-body">
   <h3 class="card-title">{{total_orders}}</h3>
    
  </div>
</div>
  </div>
    
    
    
    
    
</div>